*{
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    border: solid 1px;
}

.flex-item {
    background-color: aqua;
    border: solid 1px black;
    margin: 1px;
    flex-grow: 1;
    flex-basis: 0;
}