/* * {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #1b1f21;
    background-color: rgb(255, 255, 255);
}

img {
    width: 100%;
}

.div-boton {
    display: flex;
    justify-content: center;
    padding: 3em;
}

.boton-chat {
    background-color: #A491D2;
    border: none;
    padding: 16px;
    font-size: 16px;
    color: white;
    width: 10vw;
    min-width: 113px;
}

.boton-chat:hover {
    background-color: #CDC3E6;
}

.boton-chat:focus {
    background-color: #BEC1BB;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: bold;
    color: #1b1f21;
}

.flex {
    display: flex;

}

.flex-item {
    display: flex;
    border-bottom: solid 1px #BEC1BB;
    border-top: solid 1px #BEC1BB;
    width: 100%;
}

.flex-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: solid 1px #BEC1BB;
    width: 20vw;
    min-height: 100vh;
    min-width: 260px;
}

.cabecera {
    display: flex;
    justify-content: space-around;
    width: 20vh;
    min-width: 260px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.acciones {
    position: relative;
    display: inline-block;
}

.acciones-button {
    background-color: x#ffffff;
    color: #bec1bb;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.avatar img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding: 0, 5rem;

}

.flex-item img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-size: 100% auto;
    padding: 0.5rem;

}

.div-central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    background-color: #E8EBE4;

}

.div-central img {
    width: 30%;

} */
* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #1b1f21;
    background-color: rgb(255, 255, 255);
}

.flex {
    display: flex;
}

.cabecera {
    display: flex;
    justify-content: space-around;
}

.flex-chat {
    border-width: 1px;
    border-color: #bec1bb;
    border-style: solid;
    width: 20vw;
    min-height: 100vh;
    min-width: 260px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 0.5rem;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: bold;
    color: #1b1f21;
}

.div-boton {
    padding: 2rem;
    display: flex;
    justify-content: center;
    border-width: 1px;
    border-color: #bec1bb;
}

.div-boton button {
    background-color: #a491d2;
    padding: 16px;
    font-size: 16px;
    border: none;
    color: white;
    width: 10vw;
    min-width: 113px;
}

.div-boton button:hover {
    background-color: #cdc3e6;
}

.div-boton button:focus {
    background-color: #bec1bb;
}

.flex-item img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 0.5rem;
}

.flex-item {
    border-top-width: 1px;
    border-top-color: #bec1bb;
    border-top-style: solid;
    padding: 0.5rem;
}

.flex-item1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div-central {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.div-central img {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 0 auto;
}

.vista-previa {
    text-align: center;
    margin-top: 10px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: bold;
    color: #1b1f21;
    font-size: 48px;
}

b {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: bold;
    color: #1b1f21;
    font-size: 14px;
}

.acciones {
    position: relative;
    display: inline-block;
}

.acciones-button {
    background-color: #ffffff;
    color: #bec1bb;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.acciones-button:hover {
    background-color: #e8ebe4;
}

.acciones-button:focus {
    background-color: #bec1bb;
}