h1{
    text-align: center;
}

.containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    background-color: darkslategrey;
}

#grafico{
    width: 80%;
    height: 80%;
}

#dropTipo{
    width: 60%;
}

#montoClp{  
    width: 60%;
}

#btnBuscar{
    width: 60%; 
}

#resultado{
    width: 80%;
    text-align: center;
}

@media(min-width: 768px) {

    .containerForm{
        width: 30%;
        margin-left: 33%;
    }
}